<div class="navbar px-3">
    <saf-tab aria-label="Reload" @onclick="@(() => MoveToPage("/"))">Reload</saf-tab>
    <saf-tab aria-label="Bubble Chart" @onclick="@(() => MoveToPage("/bubblechart"))">Bubble Chart</saf-tab>
</div>

@code {

    [Inject]
    public NavigationManager NavigationManager { get; set; } = default!;

    void MoveToPage(string page)
    {
        NavigationManager.NavigateTo(page, true);
    }
}
