@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<saf-button @onclick="IncrementCount" autfocus="false" appearance="primary">
    <saf-icon slot="start" icon-name="edit"> </saf-icon>
    Saffron Counter
</saf-button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
